body{
	margin: 0;
	padding:0;
}
p{
	font-size: 4vh;
}
input { font-size: 3vw;
}
button{
	font-size: 5vw;
}
#dice {
	text-align: center;
	font-size: 30vw	;
	padding: -10%;
	margin:-5%;
}
#settings {
	font-size: 2vw;
	float:left;
	flex: 3;
	height:100%;
	background-color: #F00;
}
#quizpane {
	flex: 5;
	background-color: #0FF;
}
#mainView {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	height: 100%;
	width: 100%;
	padding: 0px;

}
#quizQuestion, #cheat{
	text-align: center;
}
#answerBox{
	margin: auto;
	display: block;
}