html, body{
	margin: 0;
	padding:0;
	/*overflow-x: hidden;*/
}
p{
	font-size: 3em;
}
input { font-size: 1em;
}
#answerBox{
	font-size: 2em;
}
button{
	font-size: 1em;
}
#dice {
	text-align: center;
	font-size: 8em	;
	padding: -10%;
	margin:-5%;
}
#settings {
	font-size: 1.5em;
	float:left;
	flex: 3;
	height:100%;
	background-color: #F00;
}
.flextainer{
	margin: 0;
	padding: 0;
}
#quizpane {
	flex: 5;
	background-color: #0FF;
}
#mainView {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	height: 
	padding: 0;
	margin: 0;
}
#quizQuestion, #cheat{
	text-align: center;
}
#answerBox{
	margin: auto;
	display: block;
}